.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  padding: 16px 0;
  color: rgb(71, 152, 167);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  color: black;
  left: 0;
  font-size: 48px;
}

.link {
  list-style-type: none;
  display: flex;
  gap: 32px;
}

.links {
  padding: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
