body {
  background-color: #479aaa;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
